.usmButton {
    background-color: var(--brand-2);
    border: none;
    color: black;
    font-family: var(--font-lato);
    margin: 12px 0;
    display: block;
    cursor: pointer;
}

.buttonContainer {
    display: block;
    width: 320px;
    margin: 0;
}

@media (max-width: 768px) {
    .usmButton {
        width: 260px;
        height: 48px;
        border-radius: 16px;
        font-size: 24px;
    }

    .buttonContainer {
        width: 260px;
    }
}

@media (min-width: 768px) {
    .usmButton {
        width: 320px;
        height: 64px;
        border-radius: 16px;
        font-size: 32px;
    }

    .buttonContainer {
        width: 320px;
    }
}