.userCardContainerOutside {
    padding: 4px;
    background-color: var(--gray-3);
    margin: 16px 0;
}

.userCardContainerInside {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.userCardImage {
    height: 64px;
    width: 64px;
    background-color: var(--gray-7);
    border-radius: 100%;
    margin: 16px;
}

.userCardText {
    color: var(--gray-9);
}

@media (min-width: 500px) {
    .userCardContainerOutside {
        border-radius: 16px;
    }
}